<p>
  In 1974, the musical formation l’<a href="https://independance-musicale.be" target="_blank">Indépendance Musicale de Waterloo</a>, under the initiative of its former director Pierre Grapin, created among themselves a group of highly trained and qualified musicians under the name « Musique de la Garde », the purpose of which would be to revive memories of the glorious historical formation that was <i>La Musique de la Garde Impériale</i> at the time of the first French empire.
</p>