<p>
  The group was present at every key moment during the reign of Napoléon the 1st (battles, official ceremonies, the wedding of the emperor, first entries in conquered capital cities, …) and, at the evening of the 18th june 1815, for the last sacrifice, the <i>grognards</i> of the imperial army, those giants still holding on to a glory that time hasn't tarnished.
</p>
<p>
  Among many others, it is that memorable war effort that made Waterloo famous worldwide.
</p>