<p>
  Armed and carefully dressed following historical depictions of the original formation, the members of our group are meant to follow strict military discipline and thorough musical training with their being part of the group strongly depending on those qualities.
</p>
<p>
  Warmly welcomed everywhere it goes and highly praised, the group is now known in Germany, England, Scotland, France, in the USA, in Italy, Holland, Russia and Switzerland while still receiving numerous invitations from these countries for participation in various historical events.
</p>