<p>
  <i>La Musique de la Garde</i> was seen in many prestigious cities like New York and St Petersbourg, as in many other places where history was written (Ajaccio, Cap Juan, Fontainebleau, Boulogne sur Mer, Marengo, …).
</p>