<p>
  Au cours de ces dernières années, ce Corps d’Elite s’est produit tantôt dans des villes prestigieuses (New York, Saint Petersbourg, …) tantôt dans des lieux chargés d’histoire impériale (Ajaccio, Cap Juan, Fontainebleau, Boulogne sur Mer, Marengo, …).
</p>