<p>
  En 1974, la Société l’<a href="https://independance-musicale.be" target="_blank" rel="noopener">Indépendance Musicale de Waterloo</a>, sous l’impulsion de son directeur musical Monsieur Pierre Grapin, a crée en son sein un groupe qui se veut de haute qualification, dénommé « Musique de la Garde », dont le but est de perpétuer à Waterloo et partout où il en aura l’occasion, le souvenir de cette phalange prestigieuse que fut <i>La Musique de la Garde Impériale</i>, sous le Premier Empire Français.
</p>