<p>
  Armés et somptueusement costumés, les membres de ce groupe s’astreignent à une discipline et à un entraînement militaire et musical particulièrement poussés, et leur maintien dans cette formation d’élite dépend formellement de leurs qualités en ces domaines.
</p>
<p>
  Accueilli partout ou il s’est présenté, avec les plus vifs éloges, ce groupe est maintenant connu en Allemagne, en Angleterre, en Écosse, en France, aux États-Unis d’Amérique, en Italie, aux Pays Bas, en Russie et en Suisse et les invitations nombreuses qui lui sont adressées suffisent à démontrer la sympathie et l’admiration dont il fait l’objet, lors de chacune de ses apparitions, dans ces pays.
</p>