<div class="card mb-3 text-white bg-dark shadow-lg">
  <img class="card-img-top" src="../../../static/card_header.jpg" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">Introduction</h2>
    <p class="card-text">
      <p>Musique du 1er Régiment des Grenadiers à Pied de Waterloo.</p>
      <p>The group was created in 1974 in Waterloo. The purpose was to faithfully represent what was the actual music military division of emperor Napoleon the 1st.</p>
      <p>It is today the oldest such group in activity, using uniforms according to historical representations and accounts from 1809.</p>
      <hr />
      <a href="/historique.html" class="btn btn-primary btn-lg">Read more about us</a>
    </p>
  </div>
</div>