<div class="card mb-3 text-white bg-dark shadow-lg">
  <img class="card-img-top" src="../../../static/card_header.jpg" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">Introduction</h2>
    <p class="card-text">
      <p>Musique du 1er Régiment des Grenadiers à Pied de Waterloo.</p>
      <p>Musique fondée en 1974 à Waterloo, cette formation reconstitue ce qu’était LA musique de l’Empereur.</p>
      <p>C’est aujourd’hui la plus ancienne musique en activité. Elle reprend les tenues selon l’ordonnance de 1809.</p>
      <hr />
      <a href="/historique.html" class="btn btn-primary btn-lg">Consulter notre histoire</a>
    </p>
  </div>
</div>