<h1>Rehearsal</h1>
<p>We practice every Tuesday evening at <b>20:00</b> at the "école Communale du Chenois", 135 rue Mattot, Waterloo.</p>

<p>We currently use the building on the left after the ramp that leads to the second courtyard when entering from the main/front entrance to the school.</p>

<p>Musicians are free to join us and find a place among the "Musique de la Garde de Waterloo" and/or the "la Société Royale "l'Indépendance Musicale" de Waterloo".</p>

<p>You can also contact us:</p>