<h1>Répétitions</h1>
<p>Les répétitions se déroulent tous les mardis soir à <b>20h00</b> à l'école Communale du Chenois, 135 rue Mattot, Waterloo.</p>

<p>Nous répétons dans le réfectoire qui implique de traverser toute la cour qui suit l’entrée princpale pour ensuite monter la rampe vers la second cour et se rendre dans le batiment immédiatement à gauche.</p>

<p>Tout musicien intéressé est cordialement invité à assister aux répétitions en vue de rejoindre nos rangs au sein de la Musique de la Garde de Waterloo et/ou de la Société Royale "l'Indépendance Musicale" de Waterloo.</p>

<p>Vous pouvez également nous contacter:</p>