<h1>Répétitions</h1>
<p>Les répétitions se déroulent tous les mardis soir à <b>20h30</b> à l'école Communale de Mont-Saint-Jean, au 666 de la Chaussée de Bruxelles à Waterloo.</p>

<p>Tout musicien intéressé est cordialement invité à assister aux répétitions en vue de rejoindre nos rangs au sein de la Musique de la Garde de Waterloo et/ou de la Société Royale "l'Indépendance Musicale" de Waterloo.</p>

<p>Vous pouvez également nous contacter:</p>