<h1>Rehearsal</h1>
<p>We practice every Tuesday evening at <b>20:30</b> at the "école Communale de Mont-Saint-Jean", 666 Chaussée de Bruxelles in Waterloo.</p>

<p>Musicians are free to join us and find a place among the "Musique de la Garde de Waterloo" and/or the "la Société Royale "l'Indépendance Musicale" de Waterloo".</p>

<p>You can also contact us:</p>