@import "custom";
@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.image-bg-wrapper {
  position: relative;
  //top: -54px;
  width: 100%;
  height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

.image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('../../static/ouverture_original.jpg');
  /* Using vh sets this independently to the container */
  height: 100vh;
  /* This is how you make it fit the screen */
  background-size: cover;
  background-position: center;
  z-index: -999;
}

.image-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $dark-bg;
  opacity: 0.85;
  z-index: -990;
  height: 100vh;
}

.hero-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* Flex stuff */
  display: flex;
  flex-direction: column;
  /* Center everything for the Hero: */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* This makes it so text doesn't stick to the sides when the screen is very small */
  padding: 0 20px;
  z-index: 1;
}

/* .hero-front h1, .hero-front h2, .hero-front h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

.hero-front h1, h1.page-title {
  font-weight: bolder;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: #000 2px 2px;
}

.page-title-backdrop {
  background-color: $dark-bg;
  padding: 20px;
  border: 1px solid map-get($theme-colors, light);
  display: inline;
}

.hero-front h2 {
  color: $primary;
  letter-spacing: 6px;
  color: $secondary;
  text-shadow: #000 2px 2px;
}

.hero-front h3 {
  color: #999;
}

.main-section-big {
  margin-top: 120px;
}

.main-section {
  margin-top: 40px;
}

.main-section-fluid {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-section-fluid-first {
  padding-top: 150px;
  padding-bottom: 40px;
}

.last-section-fluid {
  padding-bottom: 100px;
}

.section-gradient-1 {
  background-color: map-get($theme-colors, secondary);
  background: linear-gradient(to bottom, $dark-bg, map-get($theme-colors, secondary));
}

.section-gradient-2 {
  background-color: map-get($theme-colors, secondary);
}

.section-text {
  line-height: 2rem;
  font-size: 1.2rem;
}

.section-dark {
  background-color: $dark-bg;
}

.section-light {
  background-color: map-get($theme-colors, light);
}

/** Parallax stuff **/
.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* This is what actually does the parallax */
  background-attachment: fixed;
  /* Setting it to "scroll" (default?) will remove the parallax effect */
  /* We may want to remove it for mobile devices ! */
}

.pimg1 {
  background-image: url('../../static/par1.jpg');
  min-height: 200px;
}

.pimg2 {
  background-image: url('../../static/par2.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../../static/par3.jpg');
  min-height: 300px;
}
/** End of parallax stuff **/

.lnk-button {
  cursor: pointer;
}

span.carousel-control-prev-icon, span.carousel-control-next-icon {
  transform: scale(3);
}

/**
* Be careful to check the pages in both languages
* for the width below to make sense.
**/
.button-bar a {
  width: 220px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

footer {
  background-color: $dark-bg;
  padding-top: 30px;
  width: 100%;
}

.copyr {
  background-color: lighten($dark-bg, 10);
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.scroll-down {
  position: absolute;
  top: 88%;
}

.navbar-img {
  border-bottom: 2px solid map-get($theme-colors, secondary);
}

.table {
  font-size: 1rem;
}

@keyframes lul {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

@keyframes slip {
  0% {transform: translateY(0px);}
  50% {transform: translateY(20px);}
  100% {transform: translateY(0px);}
}

a svg:hover {
  animation: slip 0.7s ease-out 0s infinite;
}

/* 
Very specific breakpoint for < 320px screens
and hiding the navbar image
*/
@media (max-width: 350px) {
  .navbar-brand {
    display: none;
  }
}

@include media-breakpoint-up(xs) {
  .hero-front h1, h1.page-title {
    font-size: 1.8rem;
  }

  .hero-front h2 {
    font-size: 1.2rem;
  }

  .hero-front h3 {
    font-size: 1.2rem;
  }

}

@include media-breakpoint-up(sm) {
  .hero-front h1, h1.page-title {
    font-size: 2.5rem;
  }

  .hero-front h2 {
    font-size: 2rem;
  }

  .hero-front h3 {
    font-size: 1.6rem;
  }

}

@include media-breakpoint-up(md) {
  .hero-front h1, h1.page-title {
    font-size: 3rem;
  }

  .hero-front h2 {
    font-size: 2.4rem;
  }

  .hero-front h3 {
    font-size: 1.8rem;
  }

}

@include media-breakpoint-up(lg) {
  .hero-front h1, h1.page-title {
    font-size: 4rem;
  }

  .hero-front h2 {
    font-size: 3rem;
  }

  .hero-front h3 {
    font-size: 2rem;
  }

}