{{> header lang=htmlWebpackPlugin.options.lang}}
<section class="container-fluid main-section-fluid-first">
  <div class="container">
    <h1>Historique</h1>
    <p>En 1974, la Société l’Indépendance Musicale de Waterloo, sous l’impulsion de son directeur musical Monsieur Pierre Grapin, a crée en son sein un groupe qui se veut de haute qualification, dénommé « Musique de la Garde », dont le but est de perpétuer à Waterloo et partout où il en aura l’occasion, le souvenir de cette phalange prestigieuse que fut La Musique de la Garde Impériale, sous le Premier Empire Français.</p>
  </div>
</section>
{{> footer lang=htmlWebpackPlugin.options.lang}}