{{> header lang=htmlWebpackPlugin.options.lang}}
<section class="container-fluid main-section-fluid-first section-dark">
  <div class="text-center mb-5">
    <h1 class="page-title">Historique</h1>
  </div>
  <div class="container text-light">
    <p>En 1974, la Société l’Indépendance Musicale de Waterloo, sous l’impulsion de son directeur musical Monsieur Pierre Grapin, a crée en son sein un groupe qui se veut de haute qualification, dénommé « Musique de la Garde », dont le but est de perpétuer à Waterloo et partout où il en aura l’occasion, le souvenir de cette phalange prestigieuse que fut La Musique de la Garde Impériale, sous le Premier Empire Français.</p>
  </div>
</section>
<div class="pimg2"></div>
<section class="container-fluid main-section-fluid section-light">
  <div class="container">
    <p>
      Cette musique vécut, en effet, tous les moments de l’épopée (combats, fêtes populaires, cérémonies officielles, mariage de l’Empereur, les entrées victorieuses dans toutes les capitales, …) et, le soir du 18 juin 1815, entraîna pour le dernier sacrifice, les grognards de l’Armée Impériale.
    </p>
    <p>
      Si, parmi tant d’autres, c’est de ce haut fait d’armes qui a valu au nom de Waterloo d’avoir un retentissement mondial, et de résonner encore aujourd’hui comme un coup de canon, notre choix aura, certes, été judicieux.
    </p>
  </div>
</section>
<div class="pimg3"></div>
<section class="container-fluid main-section-fluid section-dark">
  <div class="container text-light">
    <p>
      Armés et somptueusement costumés, les membres de ce groupe s’astreignent à une discipline et à un entraînement militaire et musical particulièrement poussés, et leur maintien dans cette formation d’élite dépend formellement de leurs qualités en ces domaines.
    </p>
    <p>
      Accueilli partout ou il s’est présenté, avec les plus vifs éloges, ce groupe est maintenant connu en Allemagne, en Angleterre, en Écosse, en France, aux États-Unis d’Amérique, en Italie, aux Pays Bas, en Russie et en Suisse et les invitations nombreuses qui lui sont adressées suffisent à démontrer la sympathie et l’admiration dont il fait l’objet, lors de chacune de ses apparitions, dans ces pays.
    </p>
  </div>
</section>
<div class="pimg1"></div>
<section class="container-fluid main-section-fluid section-light">
  <div class="container">
    <p>
      Au cours de ces dernières années, ce Corps d’Elite s’est produit tantôt dans des villes prestigieuses (New York, Saint Petersbourg, …) tantôt dans des lieux chargés d’histoire impériale (Ajaccio, Cap Juan, Fontainebleau, Boulogne sur Mer, Marengo, …).
    </p>
    <img src="../../static/logo_transp_big.png" alt="Logo" class="img-fluid mx-auto d-block" />
  </div>
</section>

{{> footer lang=htmlWebpackPlugin.options.lang}}