  {{> header}}
    <div class="image-bg-wrapper">
      <div class="image-bg"></div>
      <div class="image-bg-overlay shadow p-3 mb-5"></div>
      <div class="hero-front">
        <h1>Musique</h1>
        <h2>Du premier régiment des grenadiers à pied de la Garde Impériale</h2>
        <h3>Waterloo</h3>
        <div>
          <a href="#" class="btn btn-primary btn-lg">Contactez-nous!</a>
          <a href="#" class="btn btn-primary btn-lg">Rejoingez-nous!</a>
        </div>
      </div>
    </div>
    <div class="container main-section">
      <h1>Introduction</h1>
      <blockquote class="blockquote jumbotron">
        Musique du 1er Régiment des Grenadiers à Pied de Waterloo.<br />
        Musique fondée en 1974 à Waterloo, cette formation reconstitue ce qu’était LA musique de l’Empereur.<br />
        C’est aujourd’hui la plus ancienne musique en activité. Elle reprend les tenues selon l’ordonnance de 1809.
      </blockquote>
      <!-- Add a carousel here -->
      <a href="#" class="btn btn-primary btn-lg">Consultez notre histoire</a>
    </div>
  {{> footer}}