{{> header lang=htmlWebpackPlugin.options.lang}}
<section class="container-fluid main-section-fluid-first section-dark">
  <div class="text-center mb-5">
    <h1 class="page-title">{{{translate htmlWebpackPlugin.options.lang 'press'}}}</h1>
  </div>
  <div class="container text-light section-text">
    <p>
      Ci-dessous quelques articles de presse où paraît la Musique de la Garde.
    </p>
    <ul>
      <li>
        <a href="../../static/documents/1994.jpg" target="_blank">La garde dans Waterloo info en 1994 (Les 20 ans de la garde)</a>
      </li>
      <li>
        <a href="../../static/documents/1996.jpg" target="_blank">La garde dans la Dernière Heure en 1996 (La garde à St-Pétersbourg)</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_8_6122003.pdf" target="_blank">L'Indépendance dans Waterloo info en 2003 (concert de fin d'année)</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_tdf.pdf" target="_blank">La garde dans Waterloo info 2004 (Tour de France)</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_20062006.pdf" target="_blank">L'Indépendance dans Waterloo info 2006 (la fête de la musique)</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_20102006.pdf" target="_blank">La garde dans Waterloo info 2006 (bataille d'Iéna)</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_2006122006.pdf" target="_blank">L'Indépendance dans Waterloo info 2006 (Concert d'automne « Les Années Swing »)</a>
      </li>
      <li>
        <a href="../../static/documents/waterloo_info_1017.pdf" target="_blank">L'Indépendance dans Waterloo info 2007 (Concert d'automne « Les grands moments de la chanson ») Napoléon 1er</a>
      </li>
    </ul>
  </div>
</section>
{{> footer lang=htmlWebpackPlugin.options.lang}}