</main>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="text-muted">MDG</h2>
        <ul class="nav flex-column">
          <li>
            <a class="text-secondary" href="#">Active</a>
          </li>
          <li>
            <a class="text-secondary" href="#">Link</a>
          </li>
          <li>
            <a class="text-secondary" href="#">Link</a>
          </li>
          <li>
            <a class="text-secondary" href="#">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h2 class="text-muted">Social</h2>    
        <ul class="nav flex-column">
            <li>
              <a class="text-secondary" href="#">Active</a>
            </li>
            <li>
              <a class="text-secondary" href="#">Link</a>
            </li>
            <li>
              <a class="text-secondary" href="#">Link</a>
            </li>
            <li>
              <a class="text-secondary" href="#">Disabled</a>
            </li>
          </ul>
      </div>
      <div class="col-sm">
        ICONE FACEBOOK
      </div>
    </div>
  </div>
  <div class="copyr text-muted">
    <div class="container">
      Copyright ton truc
    </div>
  </div>
</footer>
{{{scriptFromChunk htmlWebpackPlugin.options.bodyScript}}}
</body>
</html>