<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{htmlWebpackPlugin.options.testParam}}</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow p-3 mb-5">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main role="main" id="main">
    <div class="image-bg-wrapper">
      <div class="image-bg"></div>
      <div class="image-bg-overlay shadow p-3 mb-5"></div>
      <div class="hero-front">
        <h1>Musique</h1>
        <h2>Du premier régiment des grenadiers à pied de la Garde Impériale</h2>
        <h3>Waterloo</h3>
        <div>
          <a href="#" class="btn btn-primary btn-lg">Contactez-nous!</a>
          <a href="#" class="btn btn-primary btn-lg">Rejoingez-nous!</a>
        </div>
      </div>
    </div>
    <div class="container main-section">
      <h1>Introduction</h1>
      <blockquote class="blockquote jumbotron">
        Musique du 1er Régiment des Grenadiers à Pied de Waterloo.<br />
        Musique fondée en 1974 à Waterloo, cette formation reconstitue ce qu’était LA musique de l’Empereur.<br />
        C’est aujourd’hui la plus ancienne musique en activité. Elle reprend les tenues selon l’ordonnance de 1809.
      </blockquote>
      <!-- Add a carousel here -->
      <a href="#" class="btn btn-primary btn-lg">Consultez notre histoire</a>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h2 class="text-muted">MDG</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="col-sm">
          <h2 class="text-muted">Social</h2>    
          <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
        </div>
        <div class="col-sm">
          ICONE FACEBOOK
        </div>
      </div>
    </div>
    <div class="copyr text-muted">
      <div class="container">
        Copyright ton truc
      </div>
    </div>
  </footer>
</body>
</html>